<div class="ui-table">
  <div class="ui-table-controls" ng-hide="!filtering" ng-class="{ filtering: filtering }">
    <div class="ui-table-filter">
      <input ng-model="search" ng-show="filtering" placeholder="Filter page results..." type="text">
    </div>

  </div>

  <div class="ui-table-loader" ng-show="!records">
    <span class="indicator"></span>
    <span>{{ labels.loading }}</span>
  </div>

  <table id="resizable-gird" ng-class="{ fetching: url && fetching, vlines: verticalLines }">
    <thead>
      <tr>
        <th class="count" ng-show="numberedColumn"><div style="visibility: hidden">{{ records ? records.length : 0 }}.</div></th>
        <th class="count" >
          <input type="checkbox" ng-checked="all" ng-click="toggleAll()">
          <label ng-click="toggleAll()">&nbsp;</label>
        </th>
        <th ng-repeat="column in columns" class="{{column.cssClass || ''}}" ng-class="{ hand: !!sortable && !!column.sort, highlight: !!sortable && sort.key == column.id && highlightColumn }" ng-click="sortHelper($event, column.id, column.sort)" ng-show="columnsCollection[$index].show" style="width: {{ columnWidth }};">
          <div class="table-header-container">
            <div class="table-header-resizer"></div>
            <span>{{ column.text }}</span>
            <i ng-class="{ 'icon-caret-up': !!sortable && sort.key == column.id && sort.direction === 'desc', 'icon-caret-down': !!sortable && sort.key == column.id && sort.direction === 'asc' }"></i>
            <div class="ui-table-columns-menu-icon" ng-if="columnMenu" ng-class="{ show: columnsCollection[$index].menu }">
              <i class="icon-add" ng-click="showColumnMenu(columnsCollection[$index])"></i>
              <ul class="ui-table-columns-menu" ng-class="{ show: columnsCollection[$index].menu }" ng-mouseleave="columnsCollection[$index].menu = false">
                <i ng-click="showColumnMenu(columnsCollection[$index])"></i>
                <li ng-if="col.text.length" ng-repeat="col in columnsCollection track by $index">
                  <input id="column_{{ col.uid }}" ng-model="col.show" type="checkbox">
                  <label for="column_{{ col.uid }}">{{ col.text }}</label>
                </li>
              </ul>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody ng-class="{ striped: !!striped }" ng-show="records && records.length">
      <tr ng-repeat="record in records | score: { keys: config.filtering.keys, term: search, min: config.filtering.min }" ng-class="{ hand: clickableRows, error: record.error }" ng-click="clickableRows && dispatch($event)">
        <td class="count" ng-if="numberedColumn">{{ $index+1 }}.</td>
        <td class="count">
          <input type="checkbox" ng-checked="record.checked">
          <label ng-click="toggleSelected(record)">&nbsp;</label>
        </td>
        <td ng-class="{ highlight: !!sortable && sort.key == column.id && highlightColumn }" class="{{column.cssClass || ''}}" ng-repeat="column in columns" ng-show="columnsCollection[$index].show" style="width: {{ columnWidth }};">
          <a ng-href="{{ formatURL(column.url, record) }}" ng-if="column.url" target="{{ column.target }}">{{ record | pluck:column.id }}</a>
          <span ng-bind-html="format(column.format, record, column.id)" ng-if="column.format"></span>
          <span ng-if="column.date">{{ record | pluck:column.id | date:column.date }}</span>
          <span ng-bind-html="process(pluck(record, column.id))" ng-if="!column.array && !column.url && !column.format && !column.date"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
